<div class="row">
    <section class="main col-md-9">
        <article>
            <h2>About Me</h2>
            <hr />
            <p>Hello, my name is Nizon. I am currently in the second year of the BSD - Software Development degree program.</p>
            <p>My passion lies in the IT field, where I focus on learning new technologies and improving my skills daily.</p>
            <p>Although I don't have specific hobbies, I am drawn to the color black and enjoy diving into innovative projects that challenge my abilities.</p>
            <p>My long-term goal is to establish a business that leaves a lasting impact and creates a legacy worth remembering.</p>
        </article>
    </section>
    <aside class="col-md-3">
        <h2>Exciting Updates</h2>
        <hr />
        <p>Stay tuned! The website will soon be live, featuring all the promised functionality and much more.</p>
    </aside>
</div>
